<app-navbar></app-navbar>
<img class="header" src="../../assets/img/header.jpg" alt="">
<h2>Mi perfil.</h2>
<div *ngFor="let post of posts$ | async" class="wall">
    <mat-card class="card">
        <mat-card-header>
            <div mat-card-avatar class="header-image">
                <mat-card-title>{{post.creatorName}}</mat-card-title>
                <img mat-card-image src="" alt="">
            </div>
        </mat-card-header>
        <mat-card-content>
            <img mat-card-image src="{{post.image}}" alt="">
            <p>{{post.content}}</p>
        </mat-card-content>
    </mat-card>
</div>
 
      

      