<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-menu-item class="white" [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
      <span>Menu</span>
    </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/wall">
          <mat-icon>home</mat-icon> 
          <span>Inicio</span>
        </button>
        <button mat-menu-item routerLink="/friends">
          <mat-icon>people</mat-icon> 
          <span>Amigos</span>
        </button>
        <!-- button mat-menu-item routerLink="/profile">
          <mat-icon>account_circle</mat-icon> 
          <span>Perfil</span>
        </button -->
        <button mat-menu-item routerLink="/yoga">
          <mat-icon>insert_emoticon</mat-icon>
          <span>Yoga</span>
        </button>
        <button mat-menu-item routerLink="/recipes">
          <mat-icon>restaurant</mat-icon>
          <span>Recetas</span>
        </button>
        <button mat-menu-item (click)="onLogout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Salir</span>
        </button>
      </mat-menu>
      <img id="logo" src="../../assets/img/logo.png" routerLink="/wall" alt="" srcset="">
  </mat-toolbar-row>

