<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-menu-item [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
      <span>Menu</span>
    </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>art_track</mat-icon>
          <span>Publicaciones</span>
        </button>
        <button mat-menu-item>
          <mat-icon>store</mat-icon>
          <span>Directorio de Productores</span>
        </button>
        <button mat-menu-item>
          <mat-icon>restaurant</mat-icon>
          <span>Recetas</span>
        </button>
      </mat-menu>
    <button mat-menu-item>
      <mat-icon>home</mat-icon> 
      <span>Inicio</span>
    </button>
    <button mat-menu-item>
      <mat-icon>people</mat-icon> 
      <span>Amigos</span>
    </button>
    <button mat-menu-item>
      <mat-icon>account_circle</mat-icon> 
      <span>Perfil</span>
    </button>
  </mat-toolbar-row>


