<app-navbar></app-navbar>
<img class="header" src="../../assets/img/header.jpg" alt="">
<h2>Te invitamos a hacer Yoga</h2>
<p>Es fundamental complementar una buena alimentación con algún tipo de ejercicio físico o algunas actividades para fomentar el bienestar. A continuación podrás ver algunas Asanas (posiciones) de Yoga. </p>
<p>Te invitamos a ubicarte en un lugar tranquilo y elegir algunas Asanas para realizar. Por cada posición que hagas, realiza una respiración profunda, inspirando, luego manteniendo el aire por un par de segundos y luego exhalando con la misma calma.</p> 
<br>
<p>¡Que tengas un buen día!</p>
<div *ngFor="let asana of yogaService.positions">
    <mat-card class="card">
      <mat-card-content>
          <img mat-card-image src="{{asana.img_url}}" alt="">
          <p>Nombre en Sánscrito: {{asana.sanskrit_name}}</p>
      </mat-card-content>
    </mat-card>
</div>

