<app-navbar></app-navbar>
<img class="header" src="../../assets/img/header.jpg" alt="">
<p class="subtitle">Bienvenido a Trabún, aquí encontrarás tips y recetas para una alimentación saludable.</p>

<app-post-form></app-post-form>
<div *ngFor="let post of dbService.posts$" class="wall">
      <mat-card class="card">
        <mat-card-header>
            <div mat-card-avatar class="header-image">
                <img mat-card-image src="" alt="">
                <p>{{post.creator}}<p>
            </div>
        </mat-card-header>
        <mat-card-content>
            <img mat-card-image src="{{post.image}}" alt="">
            <p>{{post.content}}</p>
            <button *ngIf="post.creator === author" (click)="dbService.deletePost(post.$key)"><i class="material-icons">delete</i></button>
        </mat-card-content>
      </mat-card>
  </div>



