<app-navbar></app-navbar>
<img class="header" src="../../assets/img/header.jpg" alt="">
<h2>Recetario.</h2>
<!-- div *ngFor="let recipe of recipes$ | async" class="wall">
    <mat-card class="card">
      <mat-card-header>
          <div mat-card-avatar class="header-image">
              <mat-card-title>{{recipes.name}}</mat-card-title>
              <img mat-card-image src="" alt="">
          </div>
      </mat-card-header>
      <mat-card-content>
          <img mat-card-image src="{{post.image}}" alt="">
          <p>{{recipes.ingredients}}</p>
      </mat-card-content>
    </mat-card>
</div -->
