.welcome-div{
    background-image: url(../../assets/img/bglogin.jpg);
    min-height: 100%;
    width: 100%;
    height: auto;
    position: fixed;
}

.logo{
    text-align: center;
}
.logo img{
    width: 150px;
    position: relative;
    top: 60%;
    transform: translateY(60%);
}
.logo h1{
    font-size: 5em;
    font-weight: 1200;
    color:#504541;
    font-family: 'Open Sans', sans-serif;
    padding-top: 65px;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
.welcome-buttons{
    position: absolute;
    bottom: 0;
    height: 150px;
    width: 100%;
    text-align: center;
}

button{
    margin: 5px 10px 5px 10px;
}

button:hover{
    background-color: green;
    color: white;
}