/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family:'Open Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
}

h2 {
    color: green;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
  }
.header{
    width: 100%;
    height: auto;
  }

md-icon{
  font-family: 'Material Icons' !important;
}

/* Muros */

.card {
  max-width: 300px;
  margin: 2em;
  float: left;
}

.header-image {
  background-image: url('https://www.pekoda.com/images/default.png');
  background-size: cover;
  margin-bottom: 2.5em;
}

.header-image mat-card-title {
  padding-left: 50px;
  }