/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family:'Open Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
}

h2 {
    color: green;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
  }
.header{
    width: 100%;
    height: auto;
  }

md-icon{
  font-family: 'Material Icons' !important;
  color: rgb(49, 49, 49);
}

/* Muros */

.card {
  max-width: 220px;
  margin: 2em;
  float: left;
}

.header-image {
  background-image: url('https://www.pekoda.com/images/default.png');
  background-size: cover;
  margin-bottom: 7em;
  text-align: center;
}

.header-image p {
  padding-top: 2em;
  font-size: 14px;
  font-weight: 700;
  }

.mat-card-image:first-child {
    margin-top: 0px;
}

