/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  font-family: 'Lato', sans-serif;
 
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: green;
  font-size: 16px;
  font-weight: 800;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
}

.header{
  width: 100%;
  height: auto;
}

.subtitle{
  text-align: center;
  font-style: italic;
}

md-icon{
  font-family: 'Material Icons' !important;
  color: rgb(49, 49, 49);
}

/* Muros */

.card {
  min-width: 300px;
  width: 85%;
  margin: 1em auto;
}

.header-image {
  background-image: url('https://www.pekoda.com/images/default.png');
  background-size: cover;
  margin-bottom: 7em;
  text-align: center;
}

.header-image p {
  padding-top: 2em;
  font-size: 14px;
  font-weight: 700;
  }

.mat-card-image:first-child {
  display: block;
  margin-top: 0px;
  max-width: 300px;
  margin: 0px auto;
}

.input {
  padding: 10px;
  border-radius: 4px;
  width: 200px;
}
.useremail {
  padding-left: 50px;
}