
<app-navbar></app-navbar>
<img class="header" src="../../assets/img/header.jpg" alt="">
<h2>Bienvenido a Trabún, una red social de alimentación saludable.</h2>

<app-post-form></app-post-form>
<div *ngFor="let post of posts$ | async" class="wall">
      <mat-card class="card">
        <mat-card-header>
            <div mat-card-avatar class="header-image">
                <img mat-card-image src="" alt="">
                <p>{{post.creator}}<p>
            </div>
        </mat-card-header>
        <mat-card-content>
            <img mat-card-image src="{{post.image}}" alt="">
            <p>{{post.content}}</p>
        <!--div>
            <button (click)="deletePost(post.$key)">Delete</button>
        </div-->
        <i class="material-icons">favorite</i><i class="material-icons">delete</i><i class="material-icons">create</i>
        </mat-card-content>
      </mat-card>
  </div>



