
<app-navbar></app-navbar>
<img class="header" src="../../assets/img/header.jpg" alt="">
<h2>Bienvenido a Trabún, una red social de alimentación saludable.</h2>

<app-post-form></app-post-form>
<!--  <app-post-form *ngFor="let post of (posts$ | async)"
[creator]='post.creator'
[image]='post.image'
[description]='post.description'
></app-post-form> -->

  <mat-card class="post-card">
        <h2 *ngFor="let post of posts$ | async">{{users}}</h2>
        <img src='{{image}}'>
        <p>{{content}}</p>
  </mat-card> 

