.register-div{
    background-color: white;
    width: 100%;
    height: 100%;
}

.head {
    text-align: center;
    background-color: green;
    height: 3em;
    width:100%;
}

.head h1{
    padding-top: 20px;
    font-size: 1em;
    font-weight: 1200;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.banner {
    background-image: url(../../assets/img/food.jpg); 
    background-repeat: repeat-y;
    width: 100%;
    height: 15em;
    text-align: center;
   
}

.banner img{
    width: 80px;
    margin-top: 3.5em;
    border: 2px solid white;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}

form{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.register-buttons{
    height: 150px;
    width: 200px;
    text-align: center;
    border-radius: 4px;
}

button{
    width: 200px;
    background-color: green;
    color: white;
    margin-top: 1em;
    border-radius: 4px;
}

button:hover{
    background-color: #d67d5c;
    color: white;
}

.logged{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: green;
    font-weight: 1200;
  }
