
  <div class="register-div">
    <div class="head">
      <h1>Registro</h1>
    </div>
    <div class="banner">
      <img src="../../assets/img/newuser.png" alt="" srcset="">
    </div> 
    
<form [formGroup]="authForm" (ngSubmit)="onRegister()" *ngIf="!(authService.user | async)">
  <p>Ingresa un correo: </p><input type="email" formControlName="email"><br> 
  <p>Ingresa una contraseña: </p><input type="password" formControlName="password"><br>
  <button mat-button type="submit" [disabled]="!authForm.valid">Registrarse</button>
  </form>
</div>  

